@media (min-width:1200px){
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}

.selection-button{
    background-color: transparent; 
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%; 
}

.button-container{
    display: flex;
    flex-direction: column;
}

.left-section{
    width: 22%;
    height: 100%;
    background-color: rgb(2, 2, 59);
    float: left;
    box-sizing: border-box; 
    position: fixed; 
}

.contactIcon{
    background-color: none;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.contactIcon-container{
    display: flex;
    position: fixed;
    bottom: 8%; 
    justify-content: space-around;
}


.right-section{
    background-color: white;
    width: 75%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-aera{
    box-sizing: border-box; 
    left: 30;
    bottom: 10;
    position: fixed;
    width: 80%;
    height: 90%;
    background-color: white;
    margin: 5%;
}

.right-top-aera{
    height: 50%;
    background-color: rgb(216, 220, 224);
    position: fixed;
    top: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.hi{
    color: black;
    margin-left: 40px;
    width: 190px;
}

.Joe{
    color: black;
    margin-left: 40px;
    width: 30px;
    font-size: 60PX;
    font-style: Roboto;
    
}
.horizontal-line {
    border: none;
    height: 2px;
    background-color: #000; 
    margin: 0; 
    width: 100px;
    margin-top: 20px;
    margin-left:40px ;
}
.Developer{
    color: black;
    margin-left: 40px;
    width: 370px;
    font-size: 20PX;
    margin-top: 30px;
    font-style: Roboto;
}
.information {
    top: 5%;
    position: relative; /* 内部容器设为相对定位 */
    align-items: center; /* 垂直居中 */
    height: 80%; /* 高度占满外部容器 */
    flex-direction: column; /* 垂直居中文本内容 */
    width: 40%;
}

.careerPhoto{
    width: auto;
    height: 100%;
}
.photo-aera{
    height: 100%;
    display: flex;
    margin-right: 20%;
}
.avatar{
    width: 30%;
    height: auto;
}
.hire{
    height: 15%;
    position: fixed;
    top: 50%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.downloadResume{
    flex-grow: 1; 
    width: 50%; 
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: rgb(151, 9, 9);
    color: white;
}
.contactMe{
    flex-grow: 1; 
    width: 50%; 
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: rgb(2, 2, 59);
    color: white;
}


.right-bottom{
    height: 35%;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 80%;
    display: flex;
    flex-direction: column; 
}

.about{
    font-size: 30px;
    width: 15%;
    height: 15%;
    margin-top: 6%;
    margin-left: 5%;
}
.aboutContent{
    font-size: 16px;
    word-wrap: break-word;
    width: 80%;
    margin-top: 2%;
    margin-left: 5%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 1% auto;
    padding: 5px;
    width: 90%;
    text-align: center; /* 居中文本内容 */
    border-radius: 10px;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 添加一些样式来美化内容 */
p {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info {
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.aboutmetext{
    text-align: left;
    line-height: 2;
    font-style: Roboto;
    font-size: 13px;
}
.aboutmetextContainer{
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.about-title{
    font-size: 30px;
    font-style: Roboto;
}
.educationContainer{
    width: 100%;
    justify-content: center;
    text-align: center;
}

.education-title{
    margin-bottom: 10%;
    left:25%;
    top:4%;
    position: absolute;
}
.skillsPic{
    width: 70%;
    margin-top: 5%;
}

.unilogo{
     width: 180px;
     margin-bottom: 10px;
     height: 100px;
     cursor: pointer;
}

.projectlogo{
    width: 30%;
    margin-bottom: 4%;

     cursor: pointer;
}

.eductation-content{
    display: flex;
}

.university {
    flex: 1;
    padding: 20px;
}

.uniinfo{
    font-size: 13px;
}

.mitxtime{
    margin-top: 30px;
}

.skillpic{
    width: 900px;
    height: 400px;
}

.skill-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
}

.refereespic{
    width: 140px;
    height: 180px;
}

.pam{
    margin-left: 60px;
    margin-right: 60px;
}}

@media (min-width:700px) and (max-width:1199px){
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif; 
    }
    
    .selection-button{
        background-color: transparent; 
        color: white;
        border: none;
        cursor: pointer;
        text-align: left;
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%; 
    }
    
    .button-container{
        display: flex;
        flex-direction: column;
    }
    
    .left-section{
        width: 22%;
        height: 100%;
        background-color: rgb(2, 2, 59);
        float: left;
        box-sizing: border-box; 
        position: fixed; 
    }
    
    .contactIcon{
        background-color: none;
        width: 30px;
        margin-left: 10px;
        margin-right: 10px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
    }
    
    .contactIcon-container{
        display: flex;
        position: fixed;
        bottom: 8%; 
        justify-content: space-around;
    }
    
    
    .right-section{
        background-color: white;
        width: 75%;
        height: 100%;
        float: left;
        box-sizing: border-box;
        margin-left: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content-aera{
        box-sizing: border-box; 
        left: 30;
        bottom: 10;
        position: fixed;
        width: 80%;
        height: 90%;
        background-color: white;
        margin: 5%;
    }
    
    .right-top-aera{
        height: 50%;
        background-color: rgb(216, 220, 224);
        position: fixed;
        top: 0;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .hi{
        color: black;
        margin-left: 40px;
        width: 190px;
    }
    
    .Joe{
        color: black;
        margin-left: 40px;
        width: 30px;
        font-size: 30PX;
        font-style: Roboto;
        
    }
    .horizontal-line {
        border: none;
        height: 2px;
        background-color: #000; 
        margin: 0; 
        width: 100px;
        margin-top: 20px;
        margin-left:40px ;
    }
    .Developer{
        color: black;
        margin-left: 40px;
        width: 370px;
        font-size: 10PX;
        margin-top: 30px;
        font-style: Roboto;
    }
    .information {
        top: 5%;
        position: relative; 
        align-items: center; 
        height: 80%; 
        flex-direction: column; 
        width: 40%;
    }
    
    .careerPhoto{
        width: auto;
        height: 70%;
    }
    .photo-aera{
        height: 100%;
        display: flex;
        margin-right: 20%;
    }
    .avatar{
        width: 30%;
        height: auto;
    }
    .hire{
        height: 11%;
        position: fixed;
        top: 50%;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .downloadResume{
        flex-grow: 1; 
        width: 50%; 
        cursor: pointer;
        border: none;
        font-size: 15px;
        background-color: rgb(151, 9, 9);
        color: white;
    }
    .contactMe{
        flex-grow: 1; 
        width: 50%; 
        cursor: pointer;
        border: none;
        font-size: 15px;
        background-color: rgb(2, 2, 59);
        color: white;
    }
    
    
    .right-bottom{
        height: 35%;
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 80%;
        display: flex;
        flex-direction: column; 
    }
    
    .about{
        font-size: 30px;
        width: 15%;
        height: 15%;
        margin-top: 6%;
        margin-left: 5%;
    }
    .aboutContent{
        font-size: 13px;
        word-wrap: break-word;
        width: 80%;
        margin-top: 3%;
        margin-left: 5%;
    
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
        padding-top: 60px;
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 1% auto;
        padding: 5px;
        width: 90%;
        text-align: center; /* 居中文本内容 */
        border-radius: 10px;
    
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    /* 添加一些样式来美化内容 */
    p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .contact-info {
        font-weight: bold;
    }
    
    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #45a049;
    }
    
    .aboutmetext{
        text-align: left;
        line-height: 2;
        font-style: Roboto;
        font-size: 12px;
    }
    .aboutmetextContainer{
        margin-top: 2%;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 5%;
    }
    
    .about-title{
        font-size: 30px;
        font-style: Roboto;
    }
    .educationContainer{
        width: 100%;
        justify-content: center;
        text-align: center;
    
    }
    
    .education-title{
        margin-bottom: 10%;
        left:25%;
        top:4%;
        position: absolute;
        font-size: 20px;
    }
    .skillsPic{
        width: 70%;
        margin-top: 5%;
    }
    
    .unilogo{
         width: 100px;
         margin-bottom: 10px;
         height: auto;
         cursor: pointer;
    }
    
    .projectlogo{
        width: 30%;
        margin-bottom: 4%;
    
         cursor: pointer;
    }
    
    .eductation-content{
        display: flex;
    }
    
    .university {
        flex: 1;
        padding: 20px;
    }
    
    .uniinfo{
        font-size: 13px;
    }
    
    .mitxtime{
        margin-top: 30px;
    }
    
    .skillpic{
        width: 900px;
        height: 400px;
    }
    
    .skill-content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px; 
    }
    
    .refereespic{
        width: 140px;
        height: 180px;
    }
    
    .pam{
        margin-left: 60px;
        margin-right: 60px;
    }
    
    
    
    
    
}

@media (max-width:699px){
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif; 
    }
    
    .selection-button{
        background-color: transparent; 
        color: white;
        border: none;
        cursor: pointer;
        text-align: left;
        font-size: 11px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%; 
    }
    
    .button-container{
        display: flex;
        flex-direction: column;
    }
    

    .left-section{
        width: 22%;
        height: 100%;
        background-color: rgb(2, 2, 59);
        float: left;
        box-sizing: border-box; 
        position: fixed; 
    }
    
    .contactIcon{
        background-color: none;
        width: 30px;
        margin-left: 10px;
        margin-right: 10px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        margin-top: 40%;
    }
    
    .contactIcon-container{
        display: flex;
        position: fixed;
        bottom: 8%; 
        justify-content: space-around;
        flex-direction: column;

    }
    
    
    .right-section{
        background-color: white;
        width: 75%;
        height: auto;
        float: left;
        box-sizing: border-box;
        margin-left: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content-aera{
        box-sizing: border-box; 
        left: 30;
        bottom: 10;
        position: fixed;
        width: 80%;
        background-color: white;
        margin: 5%;
    }
    
    .right-top-aera{
        height: 30%;
        background-color: rgb(216, 220, 224);
        position: fixed;
        top: 0;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .hi{
        color: black;
        margin-left: 40px;
        width: 190px;
    }
    
    .Joe{
        color: black;
        margin-left: 40px;
        width: 30px;
        font-size: 20PX;
        font-style: Roboto;
        
    }
    .horizontal-line {
        border: none;
        height: 2px;
        background-color: #000; 
        margin: 0; 
        width: 100px;
        margin-top: 20px;
        margin-left:40px ;
    }
    .Developer{
        color: black;
        margin-left: 40px;
        width: 370px;
        font-size: 10PX;
        margin-top: 30px;
        font-style: Roboto;
    }
    .information {
        top: 5%;
        position: relative; 
        align-items: center; 
        height: 80%; 
        flex-direction: column; 
        width: 40%;
    }
    
    .careerPhoto{
        display: none;
    }
    .photo-aera{
        height: 100%;
        display: flex;
        margin-right: 20%;
    }
    .avatar{
        width: 30%;
        height: auto;
    }
    .hire{
        height: 10%;
        position: fixed;
        top: 30%;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .downloadResume{
        flex-grow: 1; 
        width: 50%; 
        cursor: pointer;
        border: none;
        font-size: 15px;
        background-color: rgb(151, 9, 9);
        color: white;
    }
    .contactMe{
        flex-grow: 1; 
        width: 50%; 
        cursor: pointer;
        border: none;
        font-size: 15px;
        background-color: rgb(2, 2, 59);
        color: white;
    }
    
    
    .right-bottom{
        height: 35%;
        background-color: white;
        position: fixed;
        top: 40%;
        width: 80%;
        display: flex;
        flex-direction: column; 
        text-align: center;
    }
    
    .about{
        font-size: 30px;
        width: 15%;
        height: 15%;
        margin-top: 6%;
        margin-left:22%;
        margin-bottom: 15%;
    }
    .aboutContent{
        font-size: 13px;
        word-wrap: break-word;
        width: 70%;

        margin-top: 5%;
        margin-left: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
        padding-top: 60px;
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 1% auto;
        padding: 5px;
        height: auto;
        width: 90%;
        text-align: center; /* 居中文本内容 */
        border-radius: 10px;
    
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    /* 添加一些样式来美化内容 */
    p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .contact-info {
        font-weight: bold;
    }
    
    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #45a049;
    }
    
    .aboutmetext{
        text-align: left;
        line-height: 2;
        font-style: Roboto;
        font-size: 10px;
    }
    .aboutmetextContainer{
        margin-top: 2%;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 5%;
    }
    
    .about-title{
        font-size: 30px;
        font-style: Roboto;
    }
    .educationContainer{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }
    
    .education-title{
        display: none;
    }
    .skillsPic{
        width: 70%;
        margin-top: 5%;
    }
    
    .unilogo{
         width: 100px;
         margin-bottom: 10px;
         height: auto;
         cursor: pointer;
    }
    
    .projectlogo{
        width: 30%;
        margin-bottom: 4%;
    
         cursor: pointer;
    }
    
    .eductation-content{
        display: flex;
        flex-direction: column;
    }
    
    .university {
        flex: 1;
        padding: 20px;
    }
    
    .uniinfo{
        font-size: 13px;
    }
    
    .mitxtime{
        margin-top: 30px;
    }
    
    .skillpic{
        width: 900px;
        height: 400px;
    }
    
    .skill-content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px; 
        flex-direction: column;
        
    }
    
    .refereespic{
        width: 50px;
        height: auto;
    }

    .pam{
        margin-bottom: 40%;
    }

    .about-content{
        height: auto;
        margin-top: 250%;
    }
    

    
    
    
    
}




